{% extends 'base.html' %}
{% block title%} login {% endblock%}
{% block cssfile %} <link rel="stylesheet" href="{{ url_for('static',filename='css/verify.css') }}"> {% endblock %}
{% block body %}
  <main>
    <div class="form-box">
      <h2>verify otp</h2>
      <br>
      <div class="input-box">
        <input class="mob-input" type="number" placeholder="OTP">
      </div>
      <br>
      <button onclick="window.location.href='/updateprofile'" class="verf-btn" style="width: 100%;">Verify OTP</button>
      <br> <br>
      <center><a href="">Help</a> <a href="">Contact</a></center>
    </div>
  </main>
  {% endblock%}
